/* Basic CSS */

#hi-there {
	font-size: 10vh;
	font-weight: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	-webkit-text-stroke-width: .09vh;
	-webkit-text-stroke-color: black;
}


#i-am {
	font-size: 3vh;
}

#mm {
	font-size: 5vh;
	font-weight: bolder;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	-webkit-text-stroke-width: .09vh;
	-webkit-text-stroke-color: black;
}

#i-am-a {
	font-size: 3vh;
}

#web-dev {
	font-size: 5vh;
	font-weight: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	-webkit-text-stroke-width: .09vh;
	-webkit-text-stroke-color: black;
}

#about-me {
	font-size: 6vh;
	font-weight: bolder;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	-webkit-text-stroke-width: .09vh;
	-webkit-text-stroke-color: black;
}

#about-me-div {
	background-color: rgb(255, 255, 255, .5);
	
}

p, li {
	font-family:Arial, Helvetica, sans-serif;
	font-size: .8rem;
}

a {
	font-size: 1.2rem !important; 
}


.navbar-brand {
    font-weight: bold;
}


#top {
    height: 30vh;
}

body {
	background: #00b4ff;
	color: #333;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}

#background-wrap {
    background: #00b4ff;
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

li > a:hover {
	color: white !important;
}

@media (max-width: 900px) {
	html, body {
		margin: 0; 
		height: 100%; 
		overflow: hidden
	}

	#nav-items {
		display: block !important;
		flex-direction: column !important;
		margin:auto;
		width: 75%;

	}

	.navbar-brand {
		display:block;
		margin-left: auto;
		margin-right:auto;
		width: 80%;
	}

	#hi-there {
		padding: 0 5% 0 5%;
	}

	#i-am {
		padding-left: 5%;
	}

	#i-am-a {
		padding-left: 5%;
	}

	#web-dev {
		padding: 0 5%;
	}
 }

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}